.app {
  text-align: center;
  width: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

.header {
  /*background-color: #222;*/
  padding: 6px;
  color: #111;
}

.header h2 {

  font-weight: 300;
  font-size: 2.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr {
  background-color: #eee;
}

table thead th {
  font-size: 20px;
  color: #111;
  padding: 6px;
  border-top: #222 solid 2px;
  border-bottom: #222 solid 2px;
}

table tbody {
  border-bottom: #222 solid 2px;
}

table tr, table td {
  border: none;
  padding: 5px;
  border-right: #444 dashed 1px;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee;
}

.ad-screenshot {
  width: 300px;
}

.page-screenshot {
  width: 800px;
}