.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr {
  background-color: #fff;
}

table thead th {
  font-size: 20px;
  color: #111;
  padding: 6px;
}

table tr, table td {
  border: none;
  padding: 5px;
  text-align: left;
}

table tr:nth-child(odd){
  background-color: #dedede;
}

.ad-screenshot {
  width: 300px;
}

/*.page-screenshot {
  width: 400px;
}*/
